*{
    margin:0;
		padding:0;
		font-family: 'Josefin Sans', sans-serif;
        box-sizing: border-box;
}
   /* Variables */
   :root{

    --body-color:#ddeedf;
   }
   section{
    padding: 3rem 0 2rem;
} 
a{
    text-decoration: none;

}
.nav{
    display:flex;
          padding:205 0 ;
          justify-content:space-between;
          align-items:center;
}
.container{
    max-width: 960px;
    margin: auto;
    width: 100%;

}
.navbar{
    display:flex;
     column-gap: 1.5rem;
     align-items:center;
}
.nav-link{
	font-size: 0.94rem;
	border-radius: 0.2rem;
	padding: 4px 8px;
	color:var(--bg-color);
	
}
.nav-link:hover{
    color: var(--body-color);
    background: var(--container-color);
    transition: 0.3s all linear;
}

.About{
    padding-top:0px;
    width:100%;
    padding:78px 0px ;
    background:var(--body-color);
}
.About-img{
    padding-top: -50px;
    height:auto;
    width: 420px;
    border-radius: 50%;
    overflow: hidden;
}
.About-text{
    width: 1000px;

}
.main{
    width: 100%;
    max-width: 10%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.About-text h1{
    color: rgb(152, 8, 8);
    font-size: 80px;
    text-transform:capitalize ;
    border-bottom: 20px;
}
.About-text h5{
    color: rgb(30, 13, 220);
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
span{
    color: #f9004d;
}
.About-text p{
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    width: 700px;
    
}
/* button{
    background:#d409b3; 
    color: beige;
    text-decoration:none;
    border: 2px solid #07ef0f;
    font-weight:lighter;
    padding: 13px 30px;
    transition: 0.5s;
    align-content: center;
}
button:hover{
    background: #9adee0;
    border: 2px solid #f9004d;
    cursor: pointer;
} */