    /* Variables */
    :root{
        
        --body-color:#cdced8;
        --container-color:#171b3c;
        --heading-color:#222321;
        --box-color:#d083c4;
        --bg-color:#fff;  }
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.body{
    background-color: var(--bg-color);
}
.Container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/programming-1920x1080.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 20px 100px;

}
.Container::after{
    content: '';
    position: absolute;
    left: 0%;
    top: -50px;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(50%);
}
.Contact-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    background:rgb(142, 141, 161);
    box-shadow: 0,0,19px 5px red;

}
.right{
    padding: 25px 40px;
}

h2{
    position: relative;
    padding-bottom:10px ;
    margin-bottom: 10px;

}
h2::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform:translateX(-50%);
    height: 4px;
    width: 300px;
    border-radius: 2px;
    background-color: #2ecc71;
}
.field{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgb(142, 141, 161);
    background-color: bisque;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}
.field:hover{
    background-color: rgb(222, 159, 226);
}
.field:focus{
    background-color: #fff;
    border:2px solid rgba(159, 166, 184, 0.47);
}
.area {
    min-height: 150px;
}
.btn{
    width: 100%;
    padding:0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #2ecc71;
    cursor: pointer;
    outline: none;
    border: none;
    color: white;
    transition: .3s;

}


.btn:hover{
    background-color:#27ae60;
}
input{
        accent-color:#27ae60; 
        block-size: 16px;
        inline-size: 18px;
        text-decoration-style: solid red;
    
}
progress{
    accent-color: rgb(255, 0, 221);
    block-size: 16px;
    margin-right: 10px;/*  */
    inline-size: 200px;
}
@media (max-width : 700px){
    .Container{
        width: 100%;
        display: flex;
        
    }
    
}












