.Container{
    max-width: 1400px;
    margin: auto;
    background:rgb(240, 188, 104);
    overflow: none;

}
.Gallery{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width:450px ;
}
.Gallery img{
    width: 100%;
    height: 100%;
}
.desc{
    padding: 15px;
    text-align: center;
}
/* footer{ */
    /* padding-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
    font-family: Arial;
    text-align: center;
    background: #f4f4;
    color: rgb(182, 13, 13);
    /* letter-spacing: 1px; } */  